.node circle {
  fill: #01579b;
}

.node text {
  font: 16px sans-serif;
  color:#6d6d6d;
}

.node--internal circle {
  fill: #01579b;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: steelblue;
  stroke-opacity: 0.4;
  stroke-width: 5px;
}

form {
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: 10px;
  top: 10px;
}

label {
  display: block;
}