.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #FFEB3B;
    outline: 0;
}
.dropdown-menu {
    font-size: 12px;
}
.multiselect-container {
    position: absolute;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.multiselect-container .input-group {
    margin: 5px
}

.multiselect-container>li {
    width: 100%;
    box-sizing: border-box;
    color: inherit;
    padding: 8px;
    line-height: 1.8em;
}

.multiselect-container>li>a.multiselect-all label {
    font-weight: 700
}

.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px;
    height: 100%;
    font-weight: 700
}

.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer
}

.multiselect-container>li>a {
    padding: 0
}

.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 40px
}

.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox {
    margin: 0
}

.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 5px
}

.filter .btn {
    padding: 6px 3px
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}

li.option,
.nice-select>span.current,
.list>.option {
    display: none;
}
.btn-default {
    background: #2196f3;
    color: #ffffff !important;
    border: 2px solid #2196f3;
    transition: all 2s ease;
    font-size: 20px;
    -webkit-border-radius: 25rem;
    border-radius: 25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);	
}
  .btn-default:hover{
    background: #2196f3; 
    color: #ffffff !important;
    background-color: #2196f3;
    border: 2px solid #2196f3;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,.25), 0 10px 5px 0 rgba(0,0,0,.22);
  }

  .btn-default:focus {
    background: #2196f3; 
    color: #ffffff;
    border: 2px solid #2196f3;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23)
  }

  .open>.dropdown-toggle.btn-default {
    background: #2196f3; 
    color: #ffffff;
    background-color: #2196f3;
    border: 2px solid #2196f3;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23)
  }

  .multiselect-container>li>a>label.checkbox {
    margin: 0;
    background: #f7f9f9;
    color: #01538f;
    font-weight: bold;
    font-size: 20px;
  }

   .multiselect-container>li>a>label.checkbox:hover {
    background-color: #01538f
    color: white;
   }

  input[type=checkbox] {
  transform: scale(1.5);
}



.btn-default {
    background: #2196f3;
    color: #ffffff !important;
    border: 2px solid #2196f3;
    transition: all 2s ease;
    font-size: 20px;
    -webkit-border-radius: 25rem;
    border-radius: 25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
    /* box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24); */
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,.25), 0 10px 5px 0 rgba(0,0,0,.22);
}
