.multiselect-container{
  position:absolute;
  border: none;
  float: left;
  list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.filter .btn{padding:6px 3px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}

  li.option, .nice-select>span.current, .list>.option{
    display: none;
  }


  .btn-default{
    background: #00a8ff; 
    color: #ffffff !important;
    border: 2px solid #00a8ff;
    transition: all 2s ease;
    font-size: 20px;
	-webkit-border-radius: 25rem;
    border-radius: 25rem;
  }
  .btn-default:hover{
    color: #f7f9f9 !important;
    background-color: #3959d5;
    border: 2px solid #01538f;
  }

  .btn-default:focus {
    color: black;
  }

  .open>.dropdown-toggle.btn-default {
    color: #01538f;
    background-color: #f7f9f9;
    border-color: #01538f;
  }

  .multiselect-container>li>a>label.checkbox {
    margin: 0;
    background: #f7f9f9;
    color: #01538f;
    font-weight: bold;
    font-size: 20px;
  }

   .multiselect-container>li>a>label.checkbox:hover {
    background-color: #01538f
    color: white;
   }

  input[type=checkbox] {
  transform: scale(1.5);
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 14px 45px;
    line-height: 1;
    text-transform: uppercase;
    font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    position: relative;
    transition: all .3s ease;
    text-align: center;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
}
