.multiselect-container{
  position:absolute;
  border: none;
  float: left;
  list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.filter .btn{padding:6px 3px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}

  li.option, .nice-select>span.current {
    display: none;
  }


  /* custom styles */
  @import url(http://fonts.googleapis.com/css?family=Lato);

  body{
    font-family:Lato, sans-serif;
  }

  .btn-default{
    background: #f7f9f9; 
    color: #01538f !important;
    border: 5px solid #01538f;
    border-radius: 50px;
    transition: all 2s ease;
    font-size: 25px;
  }
  .btn-default:hover{
    color: #f7f9f9 !important;
    background-color: #01538f;
    border: 5px solid #01538f;
  }

  .btn-default:focus {
    color: black;
  }

  .open>.dropdown-toggle.btn-default {
    color: #01538f;
    background-color: #f7f9f9;
    border-color: #01538f;
  }

  .multiselect-container>li>a>label.checkbox {
    margin: 0;
    background: #f7f9f9;
    color: #01538f;
    font-weight: bold;
    font-size: 20px;
  }

   .multiselect-container>li>a>label.checkbox:hover {
    background-color: #01538f
    color: white;
   }

  input[type=checkbox] {
  transform: scale(1.5);
}


/*
#36d7b7
#01538f
#c62827
#3e4d50
#5674ba
#6739b6
#f15b26
#fcaf3b
#605ca9
#00adef
#3cb879
#80be2d
#2e3192
#c69c6c
#4cc3c1
#36d7b7
#2dcb73
#f1c40e
#82dd47*/



/*
#3b97d3
#c1e1ca
#b0e0df
#ed655f
#81d4ef
#e9e7df
#ededed
#e9e7df
#c0e3cf
#84d2ed
#9f96c9
#f0efd2
#f1c40e
#dae3e6
 
#b4e5e1
#3cb879
#f5ead4
#2594db*/